<ul>
  <% @students.each do |student| %>
    <li>
      <a href="/students/<%= student.id %>"><%= student.first_name %></a> |
      <a href="/students/<%= student.id %>/edit">Edit</a>
    </li>
  <% end %>
</ul>
